<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Srisurya</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/aos.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
           
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience & Projects</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('static/images/cc-bg-1.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="static\images\surya.png" alt="Image"/></a></div>
          <div class="h2 title">Ippatapu Venkata Srisurya</div>
          <!-- <p class="category text-white">Data Scientist</p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><a class="btn btn-primary" target="_blank" href="{{ url_for('static',filename='Resume_Ayush_Kalla.pdf') }}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a> -->
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <!-- <a class="btn btn-default btn-round btn-lg btn-icon" target = "_blank" href="https://www.facebook.com/ayush.kalla/" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a> -->
            <!-- <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://twitter.com/KallaAyush" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a> -->
            <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://github.com/IVSrisurya" rel="tooltip" title="Follow me on Github"><i class="fa fa-github"></i></a>
            <a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://www.linkedin.com/in/ippatapu-venkata-srisurya/" rel="tooltip" title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>
              Undergraduate student at Amrita Viswa Vidhyapeetham in Artificial Intelligence chennai campus (Roll Number: CH.EN.U4AIE20024) and I am the class representative for the semester 3 &4. I am passionate in the field of Data Science and Machine Learning and my major skill set includes python (numpy, pandas, matplotlib, scipy, keras and pytorch), R programming, Sql and Matlab.
            </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">20</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">ippatapuvenkatasrisurya@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">6300646327</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">Vijayawada, Andhra Pradesh, India</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
              <div class="col-sm-8">English, Telugu</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <b>Programming Languages:</b> Python, R, SQL, Matlab<br><br>
        <b>Tools:</b> Scikit-Learn, NumPy, Pandas, Matplotlib, OpenCV, Keras, Tensorflow<br><br>
        <b>Database Management Systems:</b> MySQL, SQLite3<br><br>
        <b>Internet Technologies:</b> Flask, HTML5, CSS, Django, JavaScript<br><br>
        <b>Android Development:</b> FLutter<br><br>
      </div>
    </div>
  </div>
</div>

<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Experience & Projects</div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Oct 2021 - Feb 2022</p>
            <div class="h5">Publication<br></div>
            <p>Accepted in ICICC 2022 conference to be publised in springer LNNS series</p>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">
              <br>
              <a href="https://drive.google.com/file/d/1Fefkhlh0rAQXtHOMeiSEsEKrhLmTJULH/view" style="color: black;">
                A Variational Autoencoder – General Adversarial Networks (VAE-GAN) based model for ligand designing</a></div>
            
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Apr 2021 - Jun 2021</p>
            <!-- <div class="h5">MATRiX ANALYTiCS CORPORATION</div> -->
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">
              <br>
              <a href="https://github.com/IVSrisurya/Retroactive-DataStructures" style="color: black;">Dynamised Dijkstra's Algorithm using Retroactive Data Structure</a></div>
           
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Apr 2021 - Jun 2021</p>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">
              <br>
              <a href="https://github.com/IVSrisurya/Personality-Prediction" style="color: black;">Personality Prediction webapp using various machine learning algorithms</a></div>
           
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Apr 2021 - May 2021</p>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">
              <br>
              <a href="https://github.com/IVSrisurya/AutoCompleteFeature" style="color: black;">Auto Complete feature (GUI) using Trie data structure in java</a></div>
            
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Dec 2020 - Feb 2021</p>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">
              <br>
              <a href="https://github.com/IVSrisurya/Mutation-Rate-Calculation-Using-LSTM" style="color: black;">Mutation-Rate-Calculation-Using-LSTM</a></div>
            
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2020 - 2024</p>
            <div class="h5">Bachelors's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">B tech in Computer Science and Engineering - Artificial Intelligence</div>
            <p class="category">Amrita School of Engineering, Chennai</p>
            <p>Relevant Coursework: Machine Learning, Deep Learning, Computer Vision, NLP, Bioinformatics</p>
            <p>
              <b>Other Certifications:</b><br>
              <ul>
              <li><a href="https://www.coursera.org/account/accomplishments/specialization/certificate/JE6S8EHBFT3P">IBM Data Science</a></li>
              <li><a href="https://www.coursera.org/account/accomplishments/specialization/certificate/A2G37C33W4VA">Google Data Analytics</a></li>
              <li><a href="https://www.coursera.org/account/accomplishments/certificate/BEPL99BYQJ67">Machine Learning</a></li>
              <li><a href="https://www.coursera.org/account/accomplishments/certificate/TUDU8RDP26GQ">HTML, CSS, and Javascript for Web Developers</a></li>
            </ul>
          </p>           
          </div>
        </div>
      </div>
    </div>
   
    

<div class="section" id="contact">
  <div class="cc-contact-information" >
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form action="/sendemail/" method="POST">
                      <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="name" placeholder="Name" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                            <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                    
                            <button class="btn btn-primary" type="submit">Send</button>
                        
                         
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Address </strong></p>
                    <p class="pb-2">Devinagar, Vijayawada, Andhra Pradesh, India</p>
                    <p class="mb-0"><strong>Phone</strong></p>
                    <p class="pb-2">+91-6300646327</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>ippatapuvenkatasrisurya@gmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
   
    <script src="{{ url_for('static',filename='js/core/jquery.3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/now-ui-kit.js') }}"></script>
    <script src="{{ url_for('static',filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
  </body>
</html>